<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_ee_itcollege_i377_entities_Intsident" idField="intsidentId" modelAttribute="intsident" path="/intsidents" versionField="Version" z="3TGttk+9kmbIvH2U5bal5/HVu1I=">
        <field:input field="avaja" id="c_ee_itcollege_i377_entities_Intsident_avaja" z="ok+n2VC8ibF0du0pa6bX+Se4k2Y="/>
        <field:datetime dateTimePattern="${intsident_avatud_date_format}" field="avatud" id="c_ee_itcollege_i377_entities_Intsident_avatud" z="um2OE+UGwAjsRSFQ2iJA9pHdXEQ="/>
        <field:input field="gpsLatituud" id="c_ee_itcollege_i377_entities_Intsident_gpsLatituud" validationMessageCode="field_invalid_number" z="WqWa8DRJ8vdkOL3tMjjKEyQUbWY="/>
        <field:input field="gpsLongituud" id="c_ee_itcollege_i377_entities_Intsident_gpsLongituud" validationMessageCode="field_invalid_number" z="tlv39O1U4gH/EdW7QMfyoHWdPK0="/>
        <field:input field="kirjeldus" id="c_ee_itcollege_i377_entities_Intsident_kirjeldus" z="keeBN/z44N79bFENTNmyYYJCSKc="/>
        <field:input field="kommentaar" id="c_ee_itcollege_i377_entities_Intsident_kommentaar" z="DITLT5PE0P+Haqdo+NIfy3HneqQ="/>
        <field:input field="kood" id="c_ee_itcollege_i377_entities_Intsident_kood" z="y5oeIBsdvKIUx33C6AVsMGYoZc4="/>
        <field:datetime dateTimePattern="${intsident_muudetud_date_format}" field="muudetud" id="c_ee_itcollege_i377_entities_Intsident_muudetud" z="odvALSVWuCHGjiVBr1zoUL+VX7E="/>
        <field:input field="muutja" id="c_ee_itcollege_i377_entities_Intsident_muutja" z="3o9+9AB/UvT8uIy7dkvSBlRRmGE="/>
        <field:input field="nimetus" id="c_ee_itcollege_i377_entities_Intsident_nimetus" z="BnNodSEELlqbyZml/o2dTLg/yI0="/>
        <field:datetime dateTimePattern="${intsident_suletud_date_format}" field="suletud" id="c_ee_itcollege_i377_entities_Intsident_suletud" z="AOVqpEyrUXzNvo49D6NIDPxl/O4="/>
        <field:input field="sulgeja" id="c_ee_itcollege_i377_entities_Intsident_sulgeja" z="f2QUiJEo9Bhq60dJt2j+7nVeBc0="/>
        <field:datetime dateTimePattern="${intsident_toimumisealgus_date_format}" field="toimumiseAlgus" id="c_ee_itcollege_i377_entities_Intsident_toimumiseAlgus" z="IQDfOfcveFfG2or4qcMezYrs4tE="/>
        <field:datetime dateTimePattern="${intsident_toimumiselopp_date_format}" field="toimumiseLopp" id="c_ee_itcollege_i377_entities_Intsident_toimumiseLopp" z="+SFOxQ632aETMKN24Nxh5J9WSq0="/>
        <field:select field="intsidendiLiik" id="c_ee_itcollege_i377_entities_Intsident_intsidendiLiik" itemValue="intsidendiLiikId" items="${intsidendiliiks}" path="/intsidendiliiks" z="PH/ReetVgKBuTEJrMau6yR8A1z8="/>
        <field:select field="piiriloik" id="c_ee_itcollege_i377_entities_Intsident_piiriloik" itemValue="piiriloikId" items="${piiriloiks}" path="/piiriloiks" z="2GHQFjpfPlftiqijWN2R7xBbCPA="/>
        <field:simple field="objektIntsidendis" id="c_ee_itcollege_i377_entities_Intsident_objektIntsidendis" messageCode="entity_reference_not_managed" messageCodeAttribute="Objekt Intsidendi" z="vdaZyPu8fX82wG63UUjnp133AdE="/>
        <field:simple field="piirivalvurIntsidendis" id="c_ee_itcollege_i377_entities_Intsident_piirivalvurIntsidendis" messageCode="entity_reference_not_managed" messageCodeAttribute="Piirivalvur Intsidendi" z="qcGzj83ugQMG0lQjA8bTi5F+d38="/>
        <field:simple field="vahtkondIntsidendis" id="c_ee_itcollege_i377_entities_Intsident_vahtkondIntsidendis" messageCode="entity_reference_not_managed" messageCodeAttribute="Vahtkond Intsidendi" z="WMNje54yjDLwzTppETBYAb1g2PY="/>
<<<<<<< HEAD
=======
        <field:simple field="isikIntsidendis" id="c_ee_itcollege_i377_entities_Intsident_isikIntsidendis" messageCode="entity_reference_not_managed" messageCodeAttribute="Isik Intsidendi" z="utBC6f93DM8rPvZUiG0Yy3/WIQo="/>
>>>>>>> ttalviste
    </form:update>
</div>
