<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_ee_itcollege_i377_entities_Piirivalvur" items="${piirivalvurs}" z="qb63Om4Ol24Csy05zfdXDPBZQgk=">
        <table:table data="${piirivalvurs}" id="l_ee_itcollege_i377_entities_Piirivalvur" path="/piirivalvurs" typeIdFieldName="piirivalvurId" z="7nabX5h/0WFumdZ1DvZshD3V+ew=">
            <table:column id="c_ee_itcollege_i377_entities_Piirivalvur_avaja" property="avaja" z="9ciiaGQJnPu8wcvToseJ5qsNUyA="/>
            <table:column date="true" dateTimePattern="${piirivalvur_avatud_date_format}" id="c_ee_itcollege_i377_entities_Piirivalvur_avatud" property="avatud" z="cEybXmWqYeosvh1u48x1nAaQF4E="/>
<<<<<<< HEAD
            <table:column id="c_ee_itcollege_i377_entities_Piirivalvur_eesnimed" property="eesnimed" z="IZu0SsAeZXEEzdPPLs+d0jQsQnM="/>
            <table:column id="c_ee_itcollege_i377_entities_Piirivalvur_isikukood" property="isikukood" z="CRF/K46V9x1yV+a8eXvDOjvPeiw="/>
            <table:column id="c_ee_itcollege_i377_entities_Piirivalvur_kommentaar" property="kommentaar" z="Rj93ZbK+hedtqUwCKYDBNtrBTrs="/>
            <table:column date="true" dateTimePattern="${piirivalvur_muudetud_date_format}" id="c_ee_itcollege_i377_entities_Piirivalvur_muudetud" property="muudetud" z="bgscUVzyIPCQ3ytIVXGJOXj4uhU="/>
=======
            <table:column date="true" dateTimePattern="${piirivalvur_muudetud_date_format}" id="c_ee_itcollege_i377_entities_Piirivalvur_muudetud" property="muudetud" z="bgscUVzyIPCQ3ytIVXGJOXj4uhU="/>
            <table:column id="c_ee_itcollege_i377_entities_Piirivalvur_muutja" property="muutja" z="zrVCEmsl8WFVQr14dJK6E/s0nBo="/>
            <table:column date="true" dateTimePattern="${piirivalvur_suletud_date_format}" id="c_ee_itcollege_i377_entities_Piirivalvur_suletud" property="suletud" z="l+4oVmociFq1uFlThT3DN7WX53k="/>
            <table:column id="c_ee_itcollege_i377_entities_Piirivalvur_sulgeja" property="sulgeja" z="JjWQnGQoSRCcXRBDL9ho6nqTJ0A="/>
>>>>>>> ttalviste
        </table:table>
    </page:list>
</div>
